{% extends 'base.html' %}
{% load static %}
{% block title %}Registrace{% endblock %}

{% block content %}
<div class="auth-card">
  <div class="instagram-logo">Instagram</div>

  <form method="post" novalidate>
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger small">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    <div class="mb-3">
      {{ form.username }}
      {{ form.username.errors }}
    </div>

    <div class="mb-3">
      {{ form.email }}
      {{ form.email.errors }}
    </div>

    <div class="mb-3">
      {{ form.password1 }}
      {{ form.password1.errors }}
    </div>

    <div class="mb-3">
      {{ form.password2 }}
      {{ form.password2.errors }}
    </div>

    <button type="submit" class="btn btn-primary w-100">Registrovat</button>
  </form>

  <div class="alt-action">
    Už máte účet? <a href="{% url 'login' %}">Přihlásit se</a>
  </div>
</div>
{% endblock %}
